# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.exe
*.user
*.bak
*~
wsclean

# MSVC / GCC cruft
*.aps
.deps
.libs
*.depend
*.layout
*.res
*.user

win32/msvc2008/bin/
win32/msvc2008/obj/
win32/msvc2008/ipch/
win32/msvc2010/bin/
win32/msvc2010/obj/
win32/msvc2010/ipch/
win32/msvc2012/bin/
win32/msvc2012/obj/
win32/msvc2012/ipch/

*.suo
*.sdf
*.opensdf
